#card1{

      width: 400px;
      float: left;
      margin-left:84px;

}
#cd1im1{

	width: 90px;
	height: 81px;
      margin-left: 20px;
}
.name{

	font-family: serif;
	font-size:40px;
	margin-top:10px;
	float: right;
	margin-right:80px;
}
#card2{

      width: 400px;
      float: right;
      margin-right:100px;

}
#card3{

      width: 400px;
      float: left;
      margin-top: 20px;
      margin-left:84px;
      
}
#card4{

      width: 400px;
      float: right;
      margin-right:100px;
      margin-top: 20px;
}
.desg{
     font-family: serif;
	 font-size:20px;
	 margin-top:-15px;
	 float: right;
	 margin-right:120px;

}
#headline1{

	font-size: 20px;
	font-family: sans-serif;
	float: right;
	margin-right: 120px;
	margin-top:30px;
}
#headline2{

	font-size: 20px;
	font-family: sans-serif;
	float: right;
	margin-right: 120px;
	margin-top:40px;
}
#headline3{

	font-size: 20px;
	font-family: sans-serif;
	float: right;
	margin-right: 120px;
	margin-top:50px;
}
.para1{

	font-size:20px;
	font-family: serif;
	color:grey;
	float: right;
	margin-right:40px;
	margin-top:-150px;
}
.para2{

	font-size:20px;
	font-family: serif;
	color:grey;
	float: right;
	margin-right:40px;
	margin-top:-80px;
}
.para3{

	font-size:20px;
	font-family: serif;
	color:grey;
	float: right;
	margin-right:40px;
	margin-top:-0px;
}
#logo1{

	float: left;
	font-size: 20px;
	color: #00DFA2;
	margin-top: -162px;
	margin-left:65px;
}
#logo2{

	float: left;
	font-size: 20px;
	color: #00DFA2;
	margin-top: -90px;
	margin-left:65px;
}
#logo3{

	float: left;
	font-size: 20px;
	color: #00DFA2;
	margin-top: -10px;
	margin-left:65px;
}
/*    */
